{% extends "app/layout.html" %}

{% load static %}

{% block content %}
<h2>Видео</h2>

<!-- Видео 1 -->
<div class="video-container">
    <h3>Видео 1</h3>
    <video width="500" controls poster="{% static 'app/content/video1-poster.jpg' %}">
        <source src="{% static 'app/content/video1.mp4' %}" type="video/mp4">
        Ваш браузер не поддерживает элемент video.
    </video>
</div>

<br>

<!-- Видео 2 -->
<div class="video-container">
    <h3>Видео 2</h3>
    <video width="500" controls poster="{% static 'app/content/video2-poster.jpg' %}">
        <source src="{% static 'app/content/video2.mp4' %}" type="video/mp4">
        Ваш браузер не поддерживает элемент video.
    </video>
</div>

{% endblock %}
